@page "/product/create"
@page "/product/edit/{id:int}"
@inject ICategoryRepository CategoryRepository
@inject IProductRepository ProductRepository
@inject NavigationManager NavigationManager
@inject IFileUpload FileUpload
@inject IJSRuntime JSRuntime
@attribute [Authorize]
<div class="row my-2">
	<h3 class="card-title text-primary mb-3 ms-3">@Title Category</h3>

	<div class="col-md-10">
		@if (IsLoading)
		{
			<div class="text-center">
				<img src="/images/loading.gif" />
			</div>
		}
		else
		{
			<EditForm Model="Product" OnValidSubmit="UpsertProduct">
				<DataAnnotationsValidator />
				<ValidationSummary />
				<div class="form-group">
					<label>Name</label>
					<InputText @bind-Value="Product.Name" class="form-control" />
					<ValidationMessage For="()=> Product.Name" />
				</div>
				<div class="form-group">
					<label>Color</label>
					<InputText @bind-Value="Product.Color" class="form-control" />
					<ValidationMessage For="()=> Product.Color" />
				</div>
				<div class="form-group">
					<label>Description</label>
					<SfRichTextEditor @bind-Value="Product.Description" class="form-control" />
					<ValidationMessage For="()=> Product.Description" />
				</div>
				<div class="row pt-3">
					<div class="form-group col-6">
						<div class="form-check">
							<InputCheckbox @bind-Value="Product.ShopFavorites" class="form-check-input"></InputCheckbox>
							<label class="form-check-label">Is Shop Favorites</label>
						</div>
					</div>

					<div class="form-group col-6">
						<div class="form-check">
							<InputCheckbox @bind-Value="Product.CustomerFavorites" class="form-check-input"></InputCheckbox>
							<label class="form-check-label">Is Customer Favorites</label>
						</div>
					</div>
					<div class="form-group col-6">
						<label>Category</label>
						<InputSelect @bind-Value="Product.CategoryId" class="form-select">
							<option value="0" disabled="disabled" selected>--Select Category--</option>
							@foreach (var category in Categories)
							{
								<option value="@category.Id">@category.Name</option>
							}
						</InputSelect>
						<ValidationMessage For="()=> Product.CategoryId" />
					</div>
					<div class="form-group pt-4 col-6">
						<InputFile OnChange="HandleImageUpload"></InputFile>
					</div>
				</div>
				<div class="form-group py-2">
					<button class="btn btn-primary">@Title</button>
					<NavLink href="/product">Back to index</NavLink>
				</div>
			</EditForm>
		}
	</div>

	<div class="col-md-2">
		<img src="@Product.ImageUrl" class="w-100" />
	</div>

</div>

@code {
	[Parameter]
	public int Id { get; set; }


	private IEnumerable<CategoryDTO> Categories { get; set; } = new List<CategoryDTO>();
	private ProductDTO Product { get; set; } = new ProductDTO
		{
			ImageUrl = "/images/default.png"
		};
	private string Title { get; set; } = "Create";
	public bool IsLoading { get; set; }
	public string OldImageUrl { get; set; }

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await LoadProduct();
		}

	}

	protected async Task LoadProduct()
	{
		IsLoading = true;
		StateHasChanged();
		Categories = await CategoryRepository.GetAll();

		if (Id != 0)
		{
			Title = "Update";
			Product = await ProductRepository.Get(Id);
			OldImageUrl = Product.ImageUrl;
		}

		IsLoading = false;
		StateHasChanged();
	}


	private async void UpsertProduct()
	{
		if (Id == 0)
		{
			await ProductRepository.Create(Product);
			await JSRuntime.ToastrSuccessAsync("Product created successfully.");
		}
		else
		{
			if (OldImageUrl != Product.ImageUrl && !Product.ImageUrl.Contains("default.png"))
			{
				FileUpload.DeleteFile(OldImageUrl);

			}
			await ProductRepository.Update(Product);
			await JSRuntime.ToastrSuccessAsync("Product updated successfully.");
		}
		NavigationManager.NavigateTo("product");
	}

	private async Task HandleImageUpload(InputFileChangeEventArgs e)
	{
		IsLoading = true;
		try
		{
			if (e.GetMultipleFiles().Count > 0)
			{
				foreach (var file in e.GetMultipleFiles())
				{
					System.IO.FileInfo fileInfo = new System.IO.FileInfo(file.Name);
					if (fileInfo.Extension.ToLower() == ".jpg" ||
							fileInfo.Extension.ToLower() == ".png" ||
							fileInfo.Extension.ToLower() == ".jpeg")
					{
						Product.ImageUrl = await FileUpload.UploadFile(file);
					}
					else
					{
						await JSRuntime.ToastrErrorAsync("Please select .jpg/.jpeg/.png file only");
						return;
					}
				}
			}
			IsLoading = false;
		}
		catch (Exception ex)
		{
			await JSRuntime.ToastrErrorAsync(ex.Message);
		}
	}
}
