<div>
	<h4 class="text-primary pt-3">Another child component</h4>
	<input id="name"
		   placeholder="@PlaceHolder"
		   required="@Required"
		   maxlength="@MaxLength" />
</div>

@code {
	[Parameter]
	public string PlaceHolder { get; set; } = "Initial placeholder";

	[Parameter]
	public string Required { get; set; } = "required";

	[Parameter]
	public string MaxLength { get; set; } = "10";
}
